/*=== GERAL =================================*/

@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=DM+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --primary-color: #fd7302;
    --dark-color: #363636;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: #4F4F4F;
    color: white;
}

button {
    border: none;
    cursor: pointer;
    margin-inline: auto;
}

.button-all {
    padding: 1.6rem 3.2rem;
    border-radius: 4rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary-color);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 6rem;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.button-header {
    padding: 1.2rem 2.5rem;
    border-radius: 4rem;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: white;
    font-weight: 800;
    text-transform: uppercase;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

img {
    max-width: 100%;
}

.ico {
    width: 2rem;
}

.ico-header {
    width: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {    
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.5rem;
}

section {
    padding-block: 10rem;
}

iframe {
    max-width: 100%;
    border-radius: 2.2rem;
}

.text-title {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.text-p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 150%;
}

.color {
    color: var(--primary-color);
}

.header-nav {
    display: none;
}

.header-btn {
    display: none;
}

/*=== HEADER =================================*/

header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--dark-color);

    position: fixed;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    display: flex;
    align-items: center;
    width: 5rem;
    margin-right: 0.8rem;
}

.header-logo a {
    display: flex;
    align-items: center;

    font-family: "Caprasimo", sans-serif;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 2.2rem;
    font-weight: 500;
}

.header-menu img {
    width: 5rem;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 1rem;
}

/*=== HERO =================================*/

#hero-section {
    padding-top: 7.5rem;
    padding-bottom: 10rem;
    background-color: var(--dark-color);
}

#hero-section h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    gap: 0.8rem;
}

#hero-section h1 {
    font-size: 3.2rem;
    margin-bottom: 2.4rem;
}

.content p {
    font-size: 1.6rem;
    margin-bottom: 3.2rem;
    line-height: 150%;
}

.banner img {
    width: 34rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

.stats {
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: white;
    color: black;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
}

.stat h3 {
    font-size: 4rem;
}

.stats .stat p {
    font-size: 2rem;
}


/*=== CARDS =================================*/

.ico-card {
    width: 4rem;
}

.cards {
   display: flex;
   flex-direction: column;
   gap: 3rem;
}

.card {
    text-align: left;
    background-color: var(--dark-color);
    padding: 2rem;
    border-radius: 2.2rem;
    box-shadow: 0 2rem 3rem 0 #363636;
}

.card h4 {
    font-size: 2.2rem;
    padding: 1rem 0;
}

.card p {
    font-size: 1.6rem;
    line-height: 150%;
}

/*=== ABOUT =================================*/

#about {
    background-color: var(--dark-color);
}

.info-about p {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    line-height: 150%;
    text-align: left;
}

.info-about h3 {
    font-size: 3.2rem;
    margin: 3rem 0;
}

.info-about h4 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.info-about h5 {
    font-size: 2.2rem;
    margin: 1.5rem 0;
    color: var(--primary-color);
}

.banner-img {
    width: 34rem;
    display: block;
    margin-inline: auto;
    border-radius: 2.2rem;
}

/*=== CONTACT =================================*/

#contact {
    background-color: var(--dark-color);
}

.info-contact h4 {
    font-size: 2.2rem;
    color: var(--primary-color);
    padding-block: 1.0rem;
}

.info-contact p {
    font-size: 1.8rem;
}

.info-contact p:last-child {
    margin-bottom: 3rem;
}


/*=== FOOTER =================================*/

footer {
    padding-top: 10rem;
    padding-bottom: 5rem;

}

.ico-footer {
    width: 6rem;
}

/*=== MOBILE MENU =================================*/

.header-menu {
    display: block;
}

.header-menu button {
    border: none;
    cursor: pointer;
    width: 5rem;
    background: none;
}

.header-menu button img {
    width: 5rem;
}

.mobile-nav {
    display: none;
}

.nav-item .nav-link {
    display: block;
    color: white;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.2rem;
    font-size: 20px;
    margin-bottom: 10px;
}

.mobile-nav ul li {
    margin-bottom: 10px;
}

.mobile-nav ul li a {
    color: black;
}

.mobile-nav ul li:last-child {
    margin-bottom: 0;
}

.open {
    display: block;
}


/*=== MEDIA QUERIES 300px =================================*/

@media screen and (max-width: 300px) {
    
    .header-logo a {
        font-size: 1.5rem;
        width: 3rem;
    }

    
    .header-menu button img {
        width: 3rem;
        cursor: pointer;
    }
}

/*=== MEDIA QUERIES 1024px =================================*/

@media screen and (min-width: 1024px) {
    
    .wrapper {
        width: min(130rem, 100%);
        display: grid;
    }

    .text-title {
        font-size: 4rem;
    }
    
    .text-p {
        font-size: 3rem;
    }

    .button-all {
        font-size: 2rem;
    }

    .ico {
        width: 3rem;
    }

/*=== HEADER 1024px =================================*/

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 1.2rem;
    }

    .header-menu img {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header-btn {
        display: block;
    }

    .header-nav ul {
        display: flex;
        align-items: center;
    }

    .header-nav ul li {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
    }

    .header-nav ul li:last-child {
        margin-right: 0;
    }

    .header-nav ul li a {
        font-size: 2rem
    }

    .header-nav ul li a:hover {
        color: var(--primary-color);
    }

    .header-logo a {
        font-size: 3rem;
    }

    .header-logo a img {
        width: 6rem;
    }
    
    .header-menu {
        display: none;
    }

/*=== HERO SECTION 1024px =================================*/

#hero-section {
    padding-block: 10rem;
}

#hero-section .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A B'
    'C C';
}

#hero-section .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
}

#hero-section .col-b {
    grid-area: B;
}

#hero-section .stats {
    grid-area: C;
    flex-direction: row;
    padding: 6.5rem;
    gap: 0;
}

#hero-section .stats .stat + .stat {
    border-left: 5px solid var(--primary-color);
}

#hero-section .stats .stat {
    flex: 1;
}

#hero-section .banner img {
    width: 100%
}

#hero-section button {
    margin: 0;
}

#hero-section h1 {
    font-size: 4rem;
}

#hero-section h4 {
    display: block;
    font-size: 2.8rem;
}

#hero-section p {
    font-size: 1.9rem;
}

/*=== TRAINING 1024px =================================*/

#training .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

#training .card {
    width: 30%;
    flex-grow: 1;
}

#training .card p {
    font-size: 1.9rem;
}

#training .card h4 {
    font-size: 2.5rem;
}

/*=== ABOUT 1024px =================================*/

#about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A A'
    'B C'
    'D D'
    'E F'
    'G H';

    gap: 6rem;
}

#about .col-a {
    grid-area: A;
}

#about .col-b {
    grid-area: B;
    align-self: center;
}

#about .col-c {
    grid-area: C;
}

#about .col-d {
    grid-area: D;
}

#about .col-e {
    grid-area: E;
    align-self: center;
}

#about .col-f {
    grid-area: F;
}

#about .col-g {
    grid-area: G;
    align-self: center;
}

#about .col-h {
    grid-area: H;
}

#about .col-c img {
    width: 100%;
}

#about iframe {
    width: 100%;
}

#about .col-b h4 {
    font-size: 3.5rem;
}

#about .col-b p {
    font-size: 2.1rem;
    text-align: justify;
}

#about .col-g h5 {
    font-size: 4rem;
}

#about .col-g p {
    font-size: 1.7rem;
    line-height: 150%
}

#about .col-e h5 {
    font-size: 4rem;
}

#about .col-e p {
    font-size: 1.7rem;
    line-height: 150%
}



/*=== RATING 1024px =================================*/

#rating .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
}

#rating .card {
    width: 45%;
    flex-grow: 1;
}

#rating .card p {
    font-size: 1.9rem;
}

#rating .card h4 {
    font-size: 2.5rem;
}

/*=== CONTACT 1024px =================================*/

#contact .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A A'
    'B C';
    gap: 6rem;
}

#contact .col-a {
    grid-area: A;
    align-self: center;
}

#contact .col-b {
    grid-area: B;
    align-self: center;
}

#contact .col-c {
    grid-area: C;
}

#contact .info-contact h4 {
    font-size: 3.2rem;
}

#contact .info-contact p {
    font-size: 2.8rem;
}

#contact .col-c img {
    width: 100%
}

/*=== FOOTER 1024px =================================*/

footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'A B';
    gap: 6rem;
}

footer .col-a {
    grid-area: A;
    align-self: center;
}

footer .col-b {
    grid-area: B;
    align-self: center;
}

footer .col-a h3 {
    font-size: 3.5rem;    
}

footer .col-a p {
    font-size: 2rem;    
}

}
